body{
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    width: 100vw;
    height: 100vh;
}

#right_wrapper{
    /* background: linear-gradient(to bottom, #302b63, #24243e); */
    /* background: linear-gradient(to bottom, #24243e , #302b63); */
    box-shadow: 5px 20px 50px #000;
    left: -13em;
    transition: 0.5s ease-out all;
}

#right_wrapper:hover{
    left: 0em;
}

.graph{
    /* width: 47%;
    height: 47%; */

    /* when two graphs in single frame:  */
    /* width: 47%;
    height: 94%; */

    /* width: 80%; */
    height: 90%;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.wpm{
    background-color: #2b1e5e;
}

.tableview{
    /* background-color: #3b2a6f; */
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    max-height: 100%;
    
}

.play-btn{
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}
